<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" {% block meta %}{% endblock %}/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <div style="border-top: inset">
            <dl>
                <p>page links</p>
                <dd>
                    <a href="{{ path('homepage') }}">
                        home
                    </a>
                </dd>
                <dd>
                    <a href="{{ path('hello', {name: 'name'}) }}">
                        hello
                    </a>
                </dd>
                <dd>
                    <a href="{{ path('formpage') }}">
                        form
                    </a>
                </dd>
                <dd>
                    <a href="{{ path('submitted') }}">
                        success
                    </a>
                </dd>
                <dd>
                    <a href="{{ path('select-all') }}">
                        products
                    </a>
                </dd>
            </dl>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
